@import '../vars.scss';

.left__map {
  height: 500px;
  background: white;
  padding: 1em;
  border-radius: $borderRadius;
  box-shadow: 0 0 8px -4px rgba(0, 0, 0, 0.5);

  .leaflet-container {
    height: 100%;
  }

  .popup {
    &__flag {
      width: 100%;
      border-radius: $borderRadius;
    }

    &__name {
      font-weight: bold;
      font-size: 1rem;
    }

    &__cases {
    }
  }
}

@media (max-width: 300px) {
  .left__map {
    height: 400px;
  }
}
